{% extends "base.html" %}
{% block content %}
<div class="col-6 my-1">
    <p>Добро пожаловать на сайт ТСЖ "Новогодняя, 23"!
    </p>

    <p>Чтобы отправлять показания счётчиков, получать квитанции на оплату ЖКУ, а также просматривать историю
        показаний за любой месяц, войдите в личный кабинет. Регистрация доступна по email. Далее Вам потребуется
        привязать номер лицевого счёта Вашей квартиры к аккаунту. Для этого нужно знать сумму последнего
        платежа по услуге "Электроснабжение". Эта проверка требуется, чтобы посторонние не получили доступ к чужим
        личным данным. Вы можете привязать несколько лицевых счетов, все они будут отображаться в личном кабинете.
    </p>
</div>      
{% endblock %}